@font-face {
  font-family: 'Harmonia Sans Pro Cyr';
  src: url('../fonts/HarmoniaSansProCyr-Light.eot');
  src: local('../fonts/Harmonia Sans Pro Cyr Light'), local('../fonts/HarmoniaSansProCyr-Light'),
      url('../fonts/HarmoniaSansProCyr-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/HarmoniaSansProCyr-Light.woff2') format('woff2'),
      url('../fonts/HarmoniaSansProCyr-Light.woff') format('woff'),
      url('../fonts/HarmoniaSansProCyr-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Harmonia Sans Pro Cyr';
  src: url('../fonts/HarmoniaSansProCyr-Bold.eot');
  src: local('../fonts/Harmonia Sans Pro Cyr Bold'), local('../fonts/HarmoniaSansProCyr-Bold'),
      url('../fonts/HarmoniaSansProCyr-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/HarmoniaSansProCyr-Bold.woff2') format('woff2'),
      url('../fonts/HarmoniaSansProCyr-Bold.woff') format('woff'),
      url('../fonts/HarmoniaSansProCyr-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Harmonia Sans Pro Cyr Semi Bd';
  src: url('../fonts/HarmoniaSansProCyr-SemiBd.eot');
  src: local('../fonts/Harmonia Sans Pro Cyr Semi Bd'), local('../fonts/HarmoniaSansProCyr-SemiBd'),
      url('../fonts/HarmoniaSansProCyr-SemiBd.eot?#iefix') format('embedded-opentype'),
      url('../fonts/HarmoniaSansProCyr-SemiBd.woff2') format('woff2'),
      url('../fonts/HarmoniaSansProCyr-SemiBd.woff') format('woff'),
      url('../fonts/HarmoniaSansProCyr-SemiBd.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}


@font-face {
  font-family: 'Harmonia Sans Pro Cyr Cond';
  src: url('../fonts/HarmoniaSansProCyr-Cond.eot');
  src: local('../fonts/Harmonia Sans Pro Cyr Cond'), local('../fonts/HarmoniaSansProCyr-Cond'),
      url('../fonts/HarmoniaSansProCyr-Cond.eot?#iefix') format('embedded-opentype'),
      url('../fonts/HarmoniaSansProCyr-Cond.woff2') format('woff2'),
      url('../fonts/HarmoniaSansProCyr-Cond.woff') format('woff'),
      url('../fonts/HarmoniaSansProCyr-Cond.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Harmonia Sans Pro Cyr', sans-serif;
}
ul{
  list-style: none;
}
.site-nav{
  flex-grow: 1;
}
.site-header{
  background-color: transparent;
  position: fixed;
  width: 100%;
  height: 86px;
  z-index: 500;
  transition: all 1.5s ease;
}
.header-color {
  background-color: #000000de;
  box-shadow: 0 3px 5px 0.3px rgba(0,0,0,0.1);
  height: 86px;
}

.header-inner{
  padding: 0px 15px;
}
.nav-link{
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}
.nav-item{
  padding: 30px 0px;
  margin-right: 40px;
  position: relative;
}
.bx-chevron-down{
  font-size: 20px;
  font-weight: 500;
  position: relative;
  top: 2px;
  right: 4px;
}
.search-btn,
.user-btn,
.shop-btn{
  border: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.bx-search-alt-2,
.bx-user,
.bx-shopping-bag{
  font-size: 26px;
  color: #fff;
  margin-right: 10px;
}
.user-btn{
  margin: 0px 10px;
}
.hero-part{
  padding-top: 96px;
  background-image: url('../images/slide-one.webp');
  width: 100%;
  background-size: cover;
  position: relative;
  top: 0;
  display: block;
}
.inner-top{
  position: relative;
  top: -60px;
}
.hero-part2{
  padding-top: 96px;
  background-image: url('../images/bg-2.jpeg');
  width: 100%;
  background-size: cover;
  position: absolute;
  top: 0;
  display: block;
}
.index{
 display: none;
 opacity: 0;
 animation: myAni 0.5s ease-in-out;
}
.block{
  display: block;
}
.next-btn{
  position: absolute;
  top: 50%;
  right: 20px;
  z-index: 30;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.previous-btn{
  position: absolute;
  top: 50%;
  left: 020px;
  z-index: 30;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.bx-chevron-right{
  font-size: 70px;
  color: #fff;
}
.bx-chevron-right:hover{
  transform: scaleY(0.7);
}
.bx-chevron-left{
  font-size: 70px;
  color: #fff;
}
.bx-chevron-left:hover{
  transform: scaleY(0.7);
}
.hero-text{
  font-size: 12px;
  color: #fff;
  margin-bottom: 20px;
  letter-spacing: 2px;
  animation: text 2s 3.6s ease forwards;
  opacity: 0;
}
@keyframes text {
  0%{
    transform: rotateY(90deg);
    opacity: 0;
    filter: blur(10px);
  }
  100%{
    transform: rotateY(0deg);
    opacity: 1;
    filter: blur(0px);
  }
}

.hero-inner{
  padding: 50px 0px;
  margin: 150px 150px 200px 150px;
}
.hero-title{
  font-size: 68px;
  color: #fff;
  font-family: "Barlow Condensed";
  line-height: 67.5px;
  font-weight: normal;
  margin-bottom: 50px;
}
@keyframes myAnimation{
  0%{
    transform: rotateY(90deg);
    opacity: 0;
    filter: blur(10px);
  }
  100%{
    transform: rotateY(0deg);
    opacity: 1;
    filter: blur(0px);
  }
}
.hero-title span{
  animation: myAnimation 2.8s ease forwards;
  opacity: 0;
  margin-right: -6px;
  display: inline-block
}
.hero-title span:nth-child(1){
  animation-delay: 0.2s;
}
.hero-title span:nth-child(2){
  animation-delay: 0.4s;
}
.hero-title span:nth-child(3){
  animation-delay: 0.6s;
}
.hero-title span:nth-child(4){
  animation-delay: 0.8s;
}
.hero-title span:nth-child(5){
  animation-delay: 1s;
}
.hero-title span:nth-child(6){
  animation-delay: 1.2s;
}
.hero-title span:nth-child(7){
  animation-delay: 1.4s;
}
.hero-title span:nth-child(8){
  animation-delay: 1.6s;
}
.hero-title span:nth-child(9){
  animation-delay: 1.8s;
}
.hero-title span:nth-child(10){
  animation-delay: 2s;
}
.hero-title span:nth-child(11){
  animation-delay: 2.2s;
}
.hero-title span:nth-child(12){
  animation-delay: 2.4s;
}
.hero-title span:nth-child(13){
  animation-delay: 2.6s;
}
.hero-title span:nth-child(14){
  animation-delay: 2.8s;
}

.hero-btn{
  border: none;
  cursor: pointer;
  font-weight: 500;
  padding: 11.25px 26.25px;
  font-size: 16px;
  background: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 4px;
  font-family: "Barlow Condensed";
  line-height: 12px;
  margin: 0px;
  z-index: auto;
  border-width: 0px;
  letter-spacing: 0px;
  filter: none
}
.dropdown-img{
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
}
.dropdown-img:hover{
  transform: scale(1.1);
}
.dropdown{
  width: 800px;
  height: 0;
  opacity: 0;
  background-color: #fff;
  position: absolute;
  top: 90%;
  left: -200px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}
.dropdowm-item{
  padding: 20px 16px;
  display: inline;
}
.dropdown-desc{
  margin: 0 auto;
  width: 60px;
  font-size: 14px;
  font-weight: 500;
  color: #000;
  border-bottom: 1px solid #b35246;
  padding: 5px;
}
.hover-box:hover .dropdown{
  height: 190px;
  opacity: 1;
}
.nav-item::before{
  content: '';
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 0%;
  height: 2px;
  background-color: #d78f0e;
  bottom: 30%;
  transition: 0.4s ease-in-out;
}
.nav-item:hover::before{
  width: 100%;
}
.dropdown-box{
  width: 800px;
  height:0;
  opacity: 0;
  background-color: #fff;
  position: absolute;
  top: 90%;
  left: -200px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}
.drop-title{
  margin: 20px 0px;
  font-weight: 600;
  position: relative;
  margin-bottom: 30px;
}
.hover-item:hover .dropdown-box{
  height: 330px;
  opacity: 1;
  z-index: 10;
}
.drop{
  margin: 5px 25px;
  text-align: start;
  width: 200px;
}
.drop-item{
  margin-bottom: 14px;
  font-size: 14px;
  cursor: pointer;
}
.drop-title::after{
  content: '';
  display: inline-block;
  width: 50px;
  height: 1px;
  background-color: #d78f0e;
  position: absolute;
  bottom: -30%;
  left: 0;
}
.drop-item::before{
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #000;
  margin-right: 10px;
  position: relative;
  bottom: 4px;
}
.drop-item:hover{
  opacity: 0.6;
}
.category-img{
  margin: 10px 0px;
  transition: 0.4s ease;
}
.category-img:hover{
  transform: scale(1.1);
}
.shop-dropdown{
  width: 900px;
  height:0;
  opacity: 0;
  background-color: #fff;
  position: absolute;
  top: 90%;
  left: -400px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}
.shop-hover:hover .shop-dropdown{
  height: 400px;
  opacity: 1;
  z-index: 10;
  padding: 10px;
}
.shop-content{
  width: 260px;
  margin: 10px;
}
.shop-img img{
  width: 260px;
  transition: 0.4s ease;
}
.shop-img{
  margin-bottom: 12px;
  overflow: hidden;
}
.shop-img img:hover{
  transform: scale(1.1);
}
.search-modal{
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100vw;
  height: 0;
  z-index: 550;
  transition: 0.5s ease-in-out;
  overflow: hidden;
  opacity: 0;
  /* display: none; */
}
.show{
  height: 100vh;
  padding: 100px 20px;
  opacity: 1;
}
.modal-text{
  font-size: 18px;
  font-family: "Barlow Condensed",sans-serif;
  line-height: 1.1;
  color: #222;
  font-weight: 400;
  margin-bottom: 30px;
}
.close-btn{
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  bottom: 20px;
}
.bx-x{
  font-size: 50px;
  color: #222;
}
.input-search{
  border: 0;
    padding: 0;
    line-height: 50px;
    width: 100%;
    color: #222;
    font-size: 35px;
    font-weight: 400;
    border-bottom: 2px solid #222;
    padding-bottom: 20px;
    margin-bottom: 50px;
    outline: none;
}
.input-search::placeholder{
  color: #888888;
  font-size: 35px;
  font-weight: 500;
}
.modal-input .bx-search-alt-2{
  color: #222;
  position: absolute;
  font-size: 40px;
  right: -8px;
  top: 0px;
}
.modal-input{
  position: relative;
}
.user-modal{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}
.sign-in{
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  border-radius: 10px;
  width: 0;
  height: 100vh;
  transition: 0.4s ease-in-out;
  opacity: 0;
  overflow: hidden;
}
.close-btn-sign{
  border: none;
  cursor: pointer;
  background-color: #f2f2f2;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin-bottom: 30px;
 }
.close-btn-sign .bx-x{
  font-size: 30px;
  color: #777777;
  position: relative;
  top: 2px;
  cursor: pointer;
}
.sign-link{
  text-decoration: none;
  font-weight: 600;
  color: #222;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Barlow Condensed",sans-serif;
  line-height: 1.1;
}
.sign-item{
 margin-bottom: 20px;
 position: relative;
}
.sign-item:nth-child(2) .sign-link{
  color: #777777;
}

.sign-item:nth-child(1) {
  border-right: 1px solid #777777;
  padding-right: 40px;
}
.sign-form input{
  background: #FFF;
  border: 1px solid #ccc;
  height: 50px;
  color: #666;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  line-height: 1.25;
  width: 280px;
  height: 50px;
  margin-bottom: 20px;
  outline: none;
}
.sign-list {
  width: 220px;
  margin: 20px auto;
}
.sign-btn{
  width: 280px;
  height: 50px;
  background: #222;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 14px;
  outline: 0;
  border-radius: 4px;
  padding: 0.5rem 1.25rem;
  cursor: pointer;
  font-weight: 400;
  line-height: 1.25;
  border: none;
  transition: 0.4s ease;
}
.sign-btn:hover{
  background-color: #d78f0e;
}
.password-text{
  color: #999;
  padding: 4px 0;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 20px;
}
.password-text:hover{
  color: #d78f0e;
}
.form-item{
  padding: 12px 0px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 10px;
  cursor: pointer;
}
.form-item:hover{
  color: #d78f0e;
}
.form-item::before{
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  background-size: cover;
  margin-right: 10px;
  position: relative;
  top: 6px;
}
.form-item:nth-child(3):before{
  background-image: url('../images/1.jpg');
  height: 15px;
}
.form-item:nth-child(2):before{
  background-image: url('../images/heart.png');
}
.form-item:nth-child(1):before{
  background-image: url('../images/right-top-arrow-circle-solid-24.png');
}
.form-item:nth-child(4):before{
  background-image: url('../images/dollar-circle-solid-24.png');
}
.modal-add{
  background-color: rgba(0, 0, 0, 0.418);
  z-index: 700;
}
.sign-add{
  width: 320px;
  padding: 20px;
  opacity: 1;
  z-index: 720;
}
.furniture-item{
  width: 80%;
  height: 300px;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}
.img-desc{
width: 100%;
height: 100%;
  background-size: cover;
  position: absolute;
  top: 0;
  z-index: -1;
  transition: 0.6s ease-in-out;
}
.furniture-item:hover .img-desc{
 transform: scale(1.1);
}
.furniture-item:nth-child(2) .img-desc{
  background-image: url('../images/stark_home3-banner2.webp');
}
.furniture-item:nth-child(3) .img-desc{
  background-image: url('../images/stark_home3-banner3.webp');
}
.furniture-item:nth-child(1) .img-desc{
  background-image: url('../images/stark_home3-banner1.webp');
}
.furniture-par{
  font-family: "Harmonia Sans Pro Cyr";
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 5px;
  color: #888;
}
.furniture-title{
  width: 160px;
  font-size: 46px;
  text-transform: none;
  color: #222;
  font-weight: 500;
  font-family: "Barlow Condensed",sans-serif;
  line-height: 1.2;
  margin-bottom: 20px;
}
.furniture-text{
  font-size: 14px;
    font-weight: 700;
    font-family: "Barlow Condensed",sans-serif;
    letter-spacing: 1px;
    border-bottom: 3px solid #d88f0f;
    margin-top: 20px;
    display: inline-block;
    background: transparent;
    color: #222;
}
.fur-desc{
  padding: 80px 50px;
}
#products{
  padding: 20px 15px;
}
.title-list{
  margin: 40px;
}
.title-link{
  color: #888888;
  text-decoration: none;
  font-size: 20px;
  padding: 7px 0;
  font-weight: 600;
  font-family: "Harmonia Sans Pro Cyr";
}
.title-items{
  margin-right: 50px;
  position: relative;
}
.title-items:nth-child(1) .title-link{
  color: #222;
}
.title-items:nth-child(1)::before{
  content: '';
  display: inline-block;
  position: absolute;
  bottom: -20%;
  width: 100%;
  height: 3px;
  background-color: #d7910eb0;
  border-radius: 5px;
}
.title-items::before{
  content: '';
  display: inline-block;
  position: absolute;
  bottom: -20%;
  width: 0%;
  height: 3px;
  background-color: transparent;
  border-radius: 5px;
  transition: 0.4s ease;
}
.title-items:hover::before{
  content: '';
  display: inline-block;
  position: absolute;
  bottom: -20%;
  width: 100%;
  height: 3px;
  background-color: #d7910eb0;
  border-radius: 5px;
}
.products{
  width: 258px;
  height: 422px;
  cursor: pointer;

}
 .products-img{
   width: 258px;
   height: 307px;
   background-size: cover;
   margin-bottom: 10px;
   transition: 0.4s ease;
   position: relative;
 }
 .products:nth-child(1) .products-img{
   background-image: url('../images/img-1-f.jpeg');
 }
 .products:nth-child(2) .products-img{
  background-image: url('../images/img-2-f.jpg');
}
.products:nth-child(3) .products-img{
  background-image: url('../images/img-3-f.jpg');
}
.products:nth-child(4) .products-img{
  background-image: url('../images/img-4-f.jpg');
}
.products:nth-child(5) .products-img{
  background-image: url('../images/img-5-f.jpg');
}
.products:nth-child(6) .products-img{
  background-image: url('../images/img-4f.jpg');
}
.products:nth-child(7) .products-img{
  background-image: url('../images/img-7-f.jpg');
}
.products:nth-child(8) .products-img{
  background-image: url('../images/img-8-f.jpg');
}
.products:nth-child(9) .products-img{
  background-image: url('../images/img-9-f.jpg');
}
.products:nth-child(10) .products-img{
  background-image: url('../images/img-10-f.jpg');
}
.products:nth-child(1):hover .products-img{
  background-image: url('../images/img-1-b.jpg');
}
.products:nth-child(2):hover .products-img{
  background-image: url('../images/img-2-b.jpeg');
}
.products:nth-child(3):hover .products-img{
  background-image: url('../images/img-3-b.jpeg');
}
.products:nth-child(4):hover .products-img{
  background-image: url('../images/img-4-b.jpeg');
}
.products:nth-child(5):hover .products-img{
  background-image: url('../images/img-5-b.jpeg');
}
.products:nth-child(6):hover .products-img{
  background-image: url('../images/img-6-b.jpeg');
}
.products:nth-child(7):hover .products-img{
  background-image: url('../images/img-7-b.jpeg');
}
.products:nth-child(8):hover .products-img{
  background-image: url('../images/img-8-b.jpeg');
}
.products:nth-child(9):hover .products-img{
  background-image: url('../images/img-9-b.jpeg');
}
.products:nth-child(10):hover .products-img{
  background-image: url('../images/img-10-b.jpeg');
}
.rating-text{
  color: #a3a3a3;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Barlow Condensed",sans-serif;
  width: 100px;
  padding-left: 6px;
}
.rating{
  margin-bottom: 6px;
}
.stars{
width: 100px;
color: #a3a3a3;
position: relative;
right: -16px;
}
.bxs-star{
  font-size: 14px;
}
.products:nth-child(1) .stars{
  color: #fcbd31;
}
.products-title{
  color: #000;
  font-size: 16px;
  font-family: "Harmonia Sans Pro Cyr";
  font-weight: 400;
  line-height: 23px;
  text-transform: uppercase;
  padding: 0px 6px;
  margin-bottom: 6px;
}
.product-price{
  color: #222;
  font-weight: 700;
  font-family: "Harmonia Sans Pro Cyr";
  font-size: 17px;
  padding: 0px 6px;
}
.products-title:hover{
  color: #d88f0f;
}
.rating-text:hover{
  color: #d88f0f;
}
.prducts-status{
  margin: 2px 0;
  color: #fff;
  background-color: #2fb5d2;
  font-size: 10px;
  line-height: 20px;
  position: absolute;
  top: 8px;
  left: 12px;
  padding: 1px 6px;
}
.sale-status{
  background-color: red;
  margin: 2px 0;
  color: #fff;
  font-size: 10px;
  line-height: 20px;
  position: absolute;
  top: 8px;
  left: 12px;
  padding: 1px 6px;
}
.prducts-status-main{
  margin: 2px 0;
  color: #fff;
  background-color: #2fb5d2;
  font-size: 10px;
  line-height: 20px;
  position: absolute;
  top: 8px;
  left: 46px;
  padding: 1px 6px;
}
.product-btns {
  position: absolute;
  bottom: 10%;
  left: 50px;
}
.product-btn{
  cursor: pointer;
  border: none;
  background-color: #000000de;
  margin-right: 6px;
  padding: 8px;
  font-size: 18px;
  color: #fff;
  width: 50px;
  height: 50px;
  opacity: 0;
  transition: all 0.1s ease;
}
.product-btn .bx{
  font-size: 20px;
  position: relative;
  top: 3px;
}
.product-btn:nth-child(1){
  transform: translateY(-16px);
  transition: 0.3s cubic-bezier(.61,-0.41,.59,1.63);
}
.product-btn:nth-child(2){
  transform: translateY(-16px);
  transition: 0.6s cubic-bezier(.61,-0.41,.59,1.63);
}
.product-btn:nth-child(3){
  transform: translateY(-16px);
  transition: 0.9s cubic-bezier(.61,-0.41,.59,1.63);
}
.product-btn:hover{
  background-color: #d78f0e;
}
.products:hover .product-btn{
  opacity: 1;
  transform: translateY(0px);
}
.view-btn{
  display: block;
  cursor: pointer;
  background-color: transparent;
  padding: 0px 50px;
  height: 60px;
  width: 280px;
  margin: 30px auto;
  border: 1px solid #999;
  line-height: 60px;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 3px;
  color: #222;
  font-weight: 600;
  text-align: center;
  font-family: "Barlow Condensed",sans-serif;
}
.view-btn:hover{
  background-color: #d78f0e;
  color: #fff;
  border-color: #d78f0e;
}
#blog{
  padding: 50px 15px;
}
.blog-title{
  text-align: center;
  text-transform: capitalize;
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 10px;
  font-family: "Barlow Condensed",sans-serif;
  color: #222;
}
.blog-text{
  color: #666;
  font-weight: 400;
  line-height: 23px;
  font-size: 16px;
  text-align: center;
  margin-bottom: 30px;
}
.blog-item{
  width: 447px;
  height: 517px;
  overflow: hidden;
  cursor: pointer;
}
.blog-list{
  padding: 0px 15px;
}
.blog-img img{
  width: 100%;
  height: 100%;
  transition: 1s ease-in-out;
}
.blog-item:hover .blog-img img{
  transform: scale(1.1) rotate(4deg);
}
.blog-img{
  background-size: cover;
  width: 447px;
  height: 320px;
  margin-bottom: 15px;
  overflow: hidden;

}
.blog-sub{
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 20px;
  font-weight: 600;
  font-family: "Harmonia Sans Pro Cyr";
  color: #000;
}
.blog-sub:hover{
  color: #d78f0e;
}
.blog-p{
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.blog-par{
  font-size: 14px;
  margin-bottom: 25px;
  color: #666;
  line-height: 1.25em;
}
.blog-link{
  text-decoration: none;
  padding-bottom: 3px;
  font-size: 16px;
  border-bottom: 1px solid #d78f0e;
  color: #222;
  font-weight: 500;
}
.blog-link:hover{
  color: #d78f0e;
}
#partners{
  height: 148px;
  background-color: #f7f7f7;
}
.partners-list{
  height: 148px;
  width: 100%;
  overflow-x: scroll;
  padding: 0px 20px;
  display: flex;
}
.partners{
  margin: 0px 48px;
  padding: 15px;
}
#site-footer{
  background-color: #23282d;
}
.footer-inner{
  padding-block: 100px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #4d4c4c;
}
.footer-form{
  margin-block: 40px 36px;
  height: 55px;
  background-color: #fff;
}
.form-p{
  padding: 0 30px;
  line-height: 55px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  border-right: 1px solid #e6e6e6;
}
.footer-input{
  border: 1px solid #FFF;
  color: #999;
  background-color: #FFF;
  height: 55px;
  font-size: 14px;
  width: 400px;
  padding: 0 12px;
  outline: none;
}
.footer-btn{
  border: none;
  cursor: pointer;
  padding: 0 20px;
  text-align: center;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  width: 170px;
}
.footer-btn:hover{
  background-color: #d78f0e
}
.socials{
  padding: 16px 0px;
  margin-bottom: 80px;
}
.socials-link{
  text-decoration: none;
  color: #fff;
  font-size: 26px;
  margin-right: 20px;
}
.footer-list{
  padding: 16px 0px;
}
.footer-link{
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Barlow Condensed",sans-serif;
  color: #FFF;
}
.footer-item{
  margin-right: 26px;
}
.footer-link:hover{
  color: #d78f0e;
}
.footer-end{
  padding: 30px 120px;
}
.copyright{
  color: #fff;
}